.el-header,
.el-footer {
    background-color: #545c64;
    color: #333;
}

.el-aside {
    color: #333;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
}

.el-menu {
    border-right: 0 none !important;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

#app {
    height: 100%;
}

.el-container {
    height: 100%;
}
